<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>New table</title>
</head>
<body>
<form method="POST" th:action="@{/table}">
	<label for="table-name">Table name: </label>
	<input name="table-name" type="text" th:field="${table.name}" id="table-name">

	<br>

	<label for="first-column-name">1 column name: </label>
	<input name="first-column-name" type="text" th:field="${column1.name}" id="first-column-name">
	<label for="first-column-type">1 column type: </label>
	<select class="custom-select" id="first-column-type" th:object="${column1}" name="column1.dataType" required>
		<option selected="" value="">--Select data type--</option>
		<option th:each="type: ${dataTypes}"
				th:text="${type.getType()}">
		</option>
	</select>

	<br>

	<label for="second-column-name">2 column name: </label>
	<input name="second-column-name" type="text" th:field="${column2.name}" id="second-column-name">
	<label for="second-column-type">2 column type: </label>
	<select class="custom-select" id="second-column-type" th:object="${column2}" name="column2.dataType" required>
		<option selected="" value="">--Select data type--</option>
		<option th:each="type: ${dataTypes}"
				th:text="${type.getType()}">
		</option>
	</select>

	<br>

	<label for="third-column-name">3 column name: </label>
	<input name="third-column-name" type="text" th:field="${column3.name}" id="third-column-name">
	<label for="third-column-type">3 column type: </label>
	<select class="custom-select" id="third-column-type" th:object="${column3}" name="column3.dataType" required>
		<option selected="" value="">--Select data type--</option>
		<option th:each="type: ${dataTypes}"
				th:text="${type.getType()}">
		</option>
	</select>

	<br>

	<label for="fourth-column-name">4 column name: </label>
	<input name="fourth-column-name" type="text" th:field="${column4.name}" id="fourth-column-name">
	<label for="fourth-column-type">4 column type: </label>
	<select class="custom-select" id="fourth-column-type" th:object="${column4}" name="column4.dataType" required>
		<option selected="" value="">--Select data type--</option>
		<option th:each="type: ${dataTypes}"
				th:text="${type.getType()}">
		</option>
	</select>

	<br>

	<label for="fifth-column-name">5 column name: </label>
	<input name="fifth-column-name" type="text" th:field="${column5.name}" id="fifth-column-name">
	<label for="fifth-column-type">5 column type: </label>
	<select class="custom-select" id="fifth-column-type" th:object="${column5}" name="column5.dataType" required>
		<option selected="" value="">--Select data type--</option>
		<option th:each="type: ${dataTypes}"
				th:text="${type.getType()}">
		</option>
	</select>

	<br>

	<input type="submit" value="Create table">
</form>

</body>
</html>